# --- Python Artifacts ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.ipynb_checkpoints/

# --- Build & Distribution ---
# Essential for your PyPI workflow
dist/
build/

# --- Virtual Environments ---
.venv/
env/
venv/
ENV/

# --- System Files ---
.DS_Store
Thumbs.db

# --- My Mac specific ---
# Any local IDE settings
.vscode/